.part_1_down{
	margin: 0;
}

.main_right{
	float: right;
	margin: 0 auto;
}

.main_right_num{
	width: 40px;
	height: 40px;
	border: 2px solid #70AD47;
	border-radius:8px;
	margin: 8px;
	box-shadow: 2px 2px 2px #70AD47;
	background-color: #FFFFFF;
	font-size: 14px;
	text-align: center;
}

.main_right_num_long{
	width: 40px;
	height: 40px;
	border: 2px solid #70AD47;
	border-radius:8px;
	margin: 8px;
	margin-left: 45px;
	box-shadow: 2px 2px 2px #70AD47;
	background-color: #FFFFFF;
	font-size: 14px;
	text-align: center;
}

.main_right_num_long img{
	margin-top: 8px;
	margin-left: 3px;
}

.main_right_long{
	width: 80px;
	height: 30px;
	border: 2px solid #70AD47;
	border-radius:8px;
	margin: 8px;
	padding-top: 5px;
	box-shadow: 2px 2px 2px #70AD47;
	background-color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	color: #4472C4;
	vertical-align: middle;
		
}
.main_right_num img{
	margin-top: 8px;
	margin-left: 3px;
}

.main_left_a{
	width: 30px;
	height: 30px;
	border: 2px solid #70AD47;
	color: cornflowerblue;
	font-size: 25px;
	text-align: center;
	background-color: #FFFFFF;
	margin-right: 10px;
	float: left;
	
}
.main_left_q{
	width: 30px;
	height: 30px;
	border: 2px solid #70AD47;
	color: red;
	font-size: 25px;
	text-align: center;
	background-color: #FFFFFF;
	float: left;
}



.main_1{
	margin-top: 2px;
	height: 180px;
	/*background-color: #ADD8E6;*/
	border: 1px solid #4472C4;
	
}
.main_left{
	width:490px;
	float: left;
	/*background-color: #4472C4;*/
}


.q_title{
	margin-top: 5px;
	margin-left: 5px;
	float: left;
	/*width: 100px;*/
}
.main_1_pic{
	margin-top: 5px;
	margin-left: 15px;
	float: left;
	
}
.main_1_pic img{
	vertical-align:middle;
}

.main_1_pic_text{
	margin-top: 5px;
	width: 160px;
	float: left;
	margin-left: 15px;
}



.main_2{
	height: 180px;
	border: 1px solid #4472C4;
}
.main_left_2{
	width: 440px;
	float: left;
	/*background-color: #4472C4;*/
}
.q_title_2{
	margin-top: 5px;
	margin-left: 5px;
	float: left;
	/*width: 100px;*/
}
.main_2_pic{
	margin-top: 5px;
	margin-left: 15px;
	float: left;
	
}


.main_3{
	height: 150px;
	border: 1px solid #4472C4;
}

.main_right_3{
	width: 80px;
	height: 30px;
	border: 2px solid #70AD47;
	border-radius:8px;
	margin: 8px;
	margin-top: 100px;
	padding-top: 5px;
	box-shadow: 2px 2px 2px #70AD47;
	background-color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	color: #4472C4;
	vertical-align: middle;			
}
.main_3_pic{
	margin-top: 5px;
	margin-left: 15px;
	float: left;
	
}
.main_left_3{
	width: 440px;
	float: left;
	/*background-color: #4472C4;*/
	margin-top: 20px;
}
.main_3_pic_text{
	margin-left: 20px;
	float: left;
	width: 250px;
}




.main_4{
	height: 170px;
	border: 1px solid #4472C4;
}
.main_4_left{
	width: 440px;
	float: left;
	/*background-color: #4472C4;*/
	margin-top: 5px;
}
.main_4_pic{
	margin-top: 5px;
	margin-left: 15px;
	float: left;
}
.main_4_pic_text{
	margin-left: 20px;
	float: left;
	width: 250px;
}


.main_5{
	height: 120px;
	border: 1px solid #4472C4;
}
.main_5_pic_text{
	margin-top: 50px;
	float: left;
	width: 540px;
	text-align: center;
}