/*以下为主要内容样式*/
.part_1_down{
	margin: 0;
}
.main_title{
	height: 90px;
	width: 400px;
	float: left;
	color: #4472C4;
	font-size: 25px;
	font-weight: bold;
}
.main_title img{
	margin: 15px;
}
.main_left{
	width: 265px;
	height: 250px;
	
	float: left;
}
.main_left img{
	margin-left: 10px;
}
.main_right{
	width: 265px;
	height: 250px;
	
	float: left;
}
.main_right img{
	margin: 15px;
	
}