/*以下为主要内容样式*/
.part_1_down{
	margin: 0;
}
.main_left{
	width: 490px;
	float: left;
}
.main_left_pic{
	/*background-color: cadetblue;*/
	height: 170px;
	float: left;
	margin: 0 auto;
}
.left_pic{
	width: 40px;
	height: 40px;
	border: 1px solid #70AD47;
	/*border-radius:8px;*/
	margin: 0px;
	/*box-shadow: 2px 2px 2px #70AD47;*/
	background-color: #FFFFFF;
	font-size: 14px;
	text-align: center;
}
.left_pic img{
	margin-top: 3px;
}

.main_left_title{
	margin-top: 10px;
	margin-left: 15px;
	width: 350px;
	float: left;
	font-weight: bold;
}
.main_left_content{
	width: 420px;
	margin-top: 5px;
	margin-left: 15px;
	float: left;
	
}
.content_pic{
	/*width: 220px;*/
	height: 110px;
	float: left;
	
}
.content_text{
	width: 150px;
	height: 110px;
	float: left;
	margin-left: 10px;
}

.main_right{
	width: 60px;
	
	float: right;
	margin: 0 auto;
}
.main_right_long{
	
	
	float: right;
	margin: 0 auto;
}
.right_pic{
	width: 40px;
	height: 40px;
	border: 2px solid #70AD47;
	border-radius:8px;
	margin: 8px;
	box-shadow: 2px 2px 2px #70AD47;
	background-color: #FFFFFF;
	font-size: 14px;
	text-align: center;
}
.right_pic img{
	margin-top: 3px;
}


.main_1{
	margin-top: 2px;
	height: 180px;
	/*background-color: #ADD8E6;*/
	border: 1px solid #4472C4;
	
}

.main_2{
	height: 180px;
	border: 1px solid #4472C4;
}



.main_3{
	height: 150px;
	border: 1px solid #4472C4;
}

.main_right_3{
	width: 80px;
	height: 30px;
	border: 2px solid #70AD47;
	border-radius:8px;
	margin: 8px;
	margin-top: 100px;
	padding-top: 5px;
	box-shadow: 2px 2px 2px #70AD47;
	background-color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	color: #4472C4;
	vertical-align: middle;			
}
.main_3_pic{
	margin-top: 5px;
	margin-left: 15px;
	float: left;
	
}
.main_left_3{
	width: 440px;
	float: left;
	/*background-color: #4472C4;*/
	margin-top: 20px;
}
.main_3_pic_text{
	margin-left: 20px;
	float: left;
	width: 250px;
	/*font-weight: bold;*/
}


.main_4{
	height: 170px;
	border: 1px solid #4472C4;
}



.main_5{
	height: 120px;
	border: 1px solid #4472C4;
}
.main_5_pic_text{
	margin-top: 50px;
	float: left;
	width: 540px;
	text-align: center;
}